/* APPS LAYOUT **********************************************************************/
.AppSectionTitle
{
	padding: 0px 5px 0px 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	height: 21px;
}

.AppsBreadcrumb
{
	padding: 0px 5px 3px 3px;
	background-image: url(/App_Themes/McuRed/Img/titleSeparator.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

.AppsBreadcrumbLink
{
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #cc0000;
	position: relative;
	top: -1px;
}

.AppsBreadcrumbLink:Hover
{
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #cc0000;
	position: relative;
	top: -1px;
}

.AppsBreadcrumbText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	position: relative;
	top: -1px;
}

.AppTaskIcon
{
	width: 55px;
	text-align: left;
}

.AppTaskLink A
{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #5D7B9D;
}

.AppTaskLink A:Hover
{
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #cc0000;
}

.AppTaskDescription
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #333333;
}

.AppPageDescription
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}

.TreeViewBlock
{
	width: 265px;
	height: 200px;
	overflow-y: scroll;
	border: solid 1px #eeeeee;
	scrollbar-arrow-color: #464646;
	scrollbar-3dlight-color: #CCCCCC;
	scrollbar-darkshadow-color: #999999;
	scrollbar-face-color: #D4D0C8;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-track-color: #e6e6e6;
}

.TreeViewBlockDefaultHeight
{
	width: 250px;
	height: 620px;
	overflow-y: scroll;
	border: solid 1px #eeeeee;
	scrollbar-arrow-color: #464646;
	scrollbar-3dlight-color: #CCCCCC;
	scrollbar-darkshadow-color: #999999;
	scrollbar-face-color: #D4D0C8;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-track-color: #e6e6e6;
}
