/* Controls **********************************************/
.HyperLink a
{
	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica;
	background-color: #dfe5fe;
}

.HyperLink a:hover
{
	font-size: 12px;
	color: #cc0000;
	font-family: Arial, Helvetica;
	background-color: #dfe5fe;
}

.TextArea
{
	border: solid 1px #cccccc;
	padding-left: 2px;
	font-size: 12px;
	padding-bottom: 4px;
	width: 300px;
	height: 80px;
	color: #333333;
	line-height: 13px;
	padding-top: 4px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	margin-top: 2px;
	margin-bottom: 3px;
}

.LargeTextArea
{
	border: solid 1px #cccccc;
	padding-left: 2px;
	font-size: 12px;
	padding-bottom: 4px;
	width: 300px;
	height: 150px;
	color: #333333;
	line-height: 13px;
	padding-top: 4px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	margin-top: 2px;
	margin-bottom: 3px;
}

.LongTextArea
{
	border: solid 1px #cccccc;
	padding-left: 2px;
	font-size: 12px;
	padding-bottom: 4px;
	width: 600px;
	height: 100px;
	color: #333333;
	line-height: 13px;
	padding-top: 4px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	margin-top: 2px;
	margin-bottom: 3px;
}


.TextBox
{
	border: solid 1px #cccccc;
	padding-left: 2px;
	font-size: 12px;
	vertical-align: middle;
	color: #333333;
	padding-top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	width: 300px;
	height: 20px;
	background-color: #ffffff;
}

.TextBoxFileInput
{
	border: solid 1px #cccccc;
	padding-left: 2px;
	font-size: 12px;
	vertical-align: middle;
	color: #333333;
	padding-top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	width: 153px;
	height: 20px;
	background-color: #ffffff;
}

.SmallTextBox
{
	border: solid 1px #cccccc;
	padding-left: 2px;
	font-size: 12px;
	color: #333333;
	padding-top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	width: 50px;
	height: 20px;
	background-color: #ffffff;
}

.ListBox
{
	border: solid 1px #cccccc;
	background-color: #ffffff;
	font-size: 12px;
	width: 300px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
}

.SmallDropDownList
{
	border: solid 1px #cccccc;
	background-color: #ffffff;
	font-size: 12px;
	width: 50px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	height: 21px;
}

.DropDownList
{
	border: solid 1px #cccccc;
	background-color: #ffffff;
	font-size: 12px;
	width: 300px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	height: 21px;
}

.LongDropDownList
{
	border: solid 1px #cccccc;
	background-color: #ffffff;
	font-size: 12px;
	width: 500px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	height: 21px;
}

.Button
{
	border: solid 1px #cccccc;
	font-size: 12px;
	vertical-align: middle;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	width: 130px;
	height: 21px;
	background-color: #ececeb;
}

.ErrorMessage
{
	font-size: 12px;
	color: #009900;
	font-family: Arial, Helvetica, sans-serif;
}

.Notes
{
	font-size: 12px;
	color: #0364B4;
	font-family: Arial, Helvetica, sans-serif;
}

.LargeFont
{
	font: normal 24px Arial, Helvetica;
	padding-bottom:50px;
	font-weight: bold;
}

.MiddleFont
{
	font: normal 16px Arial, Helvetica;
	padding-bottom:50px;
	/*font-weight: bold;*/
}

/* ONE Column **********************************************/
.forms_FirstItemOneColumn
{
	border-right: #e0e0e0 3px solid;
	padding-right: 15px;
	border-top: #ebebeb 1px solid;
	padding-left: 15px;
	font-size: 12px;
	border-left: #ebebeb 1px solid;
	color: #333333;
	padding-top: 1px;
	padding-bottom: 4px;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
}
.forms_FirstItemOneColumn A
{
	color: #333333;
}
.forms_FirstItemOneColumn A:hover
{
	color: black;
	background-color: #e7e7e7;
}

.forms_ItemOneColumn
{
	border-right: #e0e0e0 3px solid;
	border-top: white 1px solid;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	border-left: #ebebeb 1px solid;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
}
.forms_ItemOneColumn A
{
	color: #333333;
}
.forms_ItemOneColumn A:hover
{
	color: black;
	background-color: #e7e7e7;
}

.forms_LastItemOneColumn
{
	border-right: #e0e0e0 3px solid;
	background-position: 50% bottom;
	border-top: white 1px solid;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	border-bottom: #ebebeb 1px solid;
	border-left: #ebebeb 1px solid;
	color: #333333;
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
}
.forms_LastItemOneColumn A
{
	color: #333333;
}
.forms_LastItemOneColumn A:hover
{
	color: black;
	background-color: #e7e7e7;
}

/* TWO Columns **********************************************/
.forms_FirstItemLeft
{
	border-right: medium none;
	border-top: #ebebeb 1px solid;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	border-left: #ebebeb 1px solid;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	background-color: #ffffff;
	width: 120px;
}

.forms_FirstItemRight
{
	border-right: #e0e0e0 3px solid;
	border-top: #ebebeb 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	background-color: #ffffff;
}

.forms_ItemLeft
{
	border-right: medium none;
	border-top: white 1px solid;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	border-left: #ebebeb 1px solid;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	background-color: #ffffff;
	width: 120px;
}
.forms_ItemRight
{
	border-right: #e0e0e0 3px solid;
	border-top: white 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	background-color: #ffffff;
}

.forms_LastItemLeft
{
	border-right: medium none;
	background-position: 50% bottom;
	border-top: white 1px solid;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	border-bottom: #ebebeb 1px solid;
	border-left: #ebebeb 1px solid;
	color: #333333;
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	height: 40px;
	background-color: #ffffff;
	width: 120px;
}
.forms_LastItemRight
{
	border-right: #e0e0e0 3px solid;
	background-position: 50% bottom;
	border-top: white 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 40px;
	background-color: #ffffff;
}



/* THREE Columns **********************************************/
.forms_FirstItemLeft
{
	border-right: medium none;
	border-top: #ebebeb 1px solid;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	border-left: #ebebeb 1px solid;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	background-color: #ffffff;
	width: 150px;
}
.forms_FirstItemMiddle
{
	border-top: #ebebeb 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	background-color: #ffffff;
	width: 300px;
}
.forms_FirstItemRight
{
	border-right: #e0e0e0 3px solid;
	border-top: #ebebeb 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	background-color: #ffffff;
}

.forms_ItemLeft
{
	border-right: medium none;
	border-top: white 1px solid;
	border-bottom: #ebebeb 1px solid;
	border-left: #ebebeb 1px solid;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	height: 30px;
	background-color: #ffffff;
	width: 150px;
}
.forms_ItemMiddle
{
	border-top: white 1px solid;
	border-bottom: #ebebeb 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	height: 30px;
	background-color: #ffffff;
	width: 300px;
}
.forms_ItemRight
{
	border-right: #e0e0e0 3px solid;
	border-top: white 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	background-color: #ffffff;
}

.forms_LastItemLeft
{
	border-right: medium none;
	background-position: 50% bottom;
	border-top: white 1px solid;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	border-bottom: #ebebeb 1px solid;
	border-left: #ebebeb 1px solid;
	color: #333333;
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	height: 40px;
	background-color: #ffffff;
	width: 150px;
}
.forms_LastItemMiddle
{
	background-position: 50% bottom;
	border-top: white 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 40px;
	background-color: #ffffff;
	width: 300px;
}
.forms_LastItemRight
{
	border-right: #e0e0e0 3px solid;
	background-position: 50% bottom;
	border-top: white 1px solid;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #333333;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 40px;
	background-color: #ffffff;
}



/* Header **********************************************/
.forms_FirstItemOneColumnHeader
{
	border-right: #e0e0e0 3px solid;
	padding-right: 15px;
	border-top: #ebebeb 1px solid;
	padding-left: 15px;
	font-size: 12px;
	padding-bottom: 5px;
	border-left: #ebebeb 1px solid;
	color: #333333;
	padding-top: 5px;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	height: 50px;
}
.forms_FirstItemOneColumnHeader A
{
	color: #333333;
}
.forms_FirstItemOneColumnHeader A:hover
{
	color: black;
	background-color: #e7e7e7;
}

.forms_ItemOneColumnHeader
{
	border-right: #e0e0e0 3px solid;
	padding-right: 15px;
	border-top: white 1px solid;
	padding-left: 15px;
	font-size: 12px;
	padding-bottom: 5px;
	border-left: #ebebeb 1px solid;
	color: #333333;
	padding-top: 5px;
	border-bottom: #ebebeb 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	height: 50px;
	font-weight:bold;
}
.forms_ItemOneColumnHeader A
{
	color: #333333;
}
.forms_ItemOneColumnHeader A:hover
{
	color: black;
	background-color: #e7e7e7;
}

.forms_LastItemOneColumnHeader
{
	border-right: #e0e0e0 3px solid;
	background-position: 50% bottom;
	border-top: white 1px solid;
	padding-left: 15px;
	font-size: 12px;
	border-bottom: #ebebeb 1px solid;
	border-left: #ebebeb 1px solid;
	color: #333333;
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	height: 40px;
	font-weight:bold;
}
.forms_LastItemOneColumnHeader A
{
	color: #333333;
}
.forms_LastItemOneColumnHeader A:hover
{
	color: black;
	background-color: #e7e7e7;
}

