


.RowStyle
{
	background-color: #F7F6F3;
	font-family: Arial,Helvetica;
	font-size: 12px;
	color: #333333;
	vertical-align: Top;
}

.FooterStyle
{
	background-color: #5D7B9D;
	font: bold;
	color: White;
}

.PagerStyle
{
	background-color: #EBEBEB;
	color: White;
	text-align: center; /*HorizontalAlign: Center;*/
}

.SelectedRowStyle
{
	background-color: #E2DED6;
	font: bold;
	color: #333333;
}

.HeaderStyle
{
	background-color: #5D7B9D;
	font: bold;
	font-family: Arial,Helvetica;
	font-size: 12px;
	color: White;
	vertical-align: middle;
	text-align: left; /*HorizontalAlign: Left;*/
}

.EditRowStyle
{
	background-color: #999999;
}

.AlternatingRowStyle
{
	background-color: White;
	font-family: Arial,Helvetica;
	font-size: 12px;
	color: #284775;
	vertical-align: top;
}

.EmptyDataRowStyle
{
	text-align: center;
	background-color: #F7F6F3;
	font-family: Arial,Helvetica;
	font-size: 12px;
	color: #333333;
	vertical-align: top;
}
